In [1]:
import pandas as pd
import numpy as np

In [2]:
s1 = pd.Series(np.random.randint(1, high=5, size=100, dtype='l'))
s2 = pd.Series(np.random.randint(1, high=4, size=100, dtype='l'))
s3 = pd.Series(np.random.randint(10000, high=30001, size=100, dtype='l'))

In [3]:
print(s1, s2, s3)

0     4
1     3
2     3
3     4
4     2
     ..
95    2
96    1
97    3
98    2
99    1
Length: 100, dtype: int32 0     2
1     3
2     1
3     1
4     3
     ..
95    1
96    2
97    3
98    2
99    1
Length: 100, dtype: int32 0     21825
1     18768
2     27262
3     12354
4     20817
      ...
95    20228
96    12618
97    19622
98    18104
99    29761
Length: 100, dtype: int32

In [4]:
housemkt = pd.concat([s1, s2, s3], axis=1)
housemkt.head()

   0  1      2
0  4  2  21825
1  3  3  18768
2  3  1  27262
3  4  1  12354
4  2  3  20817

In [5]:
bigcolumn = pd.concat([s1, s2, s3], axis=0)
# it is still a Series, so we need to transform it to a DataFrame
bigcolumn = bigcolumn.to_frame()

In [6]:
print(type(bigcolumn))
bigcolumn

<class 'pandas.core.frame.DataFrame'>

        0
0       4
1       3
2       3
3       4
4       2
..    ...
95  20228
96  12618
97  19622
98  18104
99  29761

[300 rows x 1 columns]

In [8]:
len(bigcolumn)

300

In [9]:
bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn

         0
0        4
1        3
2        3
3        4
4        2
..     ...
295  20228
296  12618
297  19622
298  18104
299  29761

[300 rows x 1 columns]